/* Убираем старые переменные, т.к. Tailwind теперь управляет темами */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent; /* Убирает синюю подсветку при тапе на iOS */
}

/* Стили для модального окна результатов, чтобы оно изначально было за экраном */
#results-panel {
  transform: translateY(100%);
  touch-action: none; /* Предотвращает прокрутку страницы при свайпе панели */
}
